# Environnement virtuel
.venv/
venv/
ENV/

# Fichiers cache Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
app/__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

# Fichiers de logs
*.log
logs/

# Fichiers de base de données
*.sqlite3
*.db


# Fichiers spécifiques à votre IDE (si vous utilisez PyCharm, VS Code, etc.)
.idea/
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers spécifiques à votre projet
# Ajoutez d'autres fichiers comme les fichiers de configuration locaux
# qui ne devraient pas être versionnés
*.env
.env.local

# Fichiers générés par mkdocs
site/

# Fichier de position d'échecs
fichierFenAjour.fen

# fichier fen_saves dans app/
fen_saves/