<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choisir une Partie</title>
    <link rel="stylesheet" href="../static/css/menuCss.css">
</head>
<body>
    <h1>Choisir une Partie d'Échecs</h1>

    <form id="gameConfigForm" action="{{ url_for('start_game') }}" method="post">
        <div class="form-group">
            <label>Choisissez une partie :</label>
            <select name="game_file" required>
                {% for game in pgn_games %}
                <option value="{{ game.file }}">
                    {{ game.event }} - {{ game.white }} vs {{ game.black }} ({{ game.result }})
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Choisissez votre couleur :</label>
            <select name="user_side" required>
                <option value="white">Blanc</option>
                <option value="black">Noir</option>
            </select>
        </div>

        <div class="form-group">
            <label>Choisissez la difficulté :</label>
            <select name="difficulty" required>
                <option value="hard">Difficile (1 chance)</option>
                <option value="normal">Moyen (3 chances)</option>
                <option value="easy">Facile (5 chances)</option>
            </select>
        </div>

        <button type="submit" class="btn">Commencer</button>
    </form>
</body>
</html>